body {
    font-family: sans-serif;

}

ul {
    padding-inline-start: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    display: flex;
    width: 100%;
    height: 120px;
    background: rgba(93, 92, 87, 0.79);
    color: #fff;
}

.button{
    width: 166px;
    height: 61px;
    border-radius: 8px;
    color: #ffffff;
    margin: 30px;
    font-size: 15px;
    font-weight: bold;
}

.chapter-name {
    color: #4e4e4e;
    font-size: 36pt;
    position: relative;
    margin: 60px;
    text-align: center;
}

.chapter-name:after {
    border-bottom: 2px solid ;
    content:'';
    position:absolute;
    width: 75px;
    height: 0;
    left:47%;
    top:85px;
    border-bottom: 2px solid #18cfab;
}

.chapter-name:before {
    border-bottom: 2px solid ;
    content:'';
    position:absolute;
    width: 75px;
    height: 0;
    left: 49%;
    top:92px;
    border-bottom: 2px solid #18cfab;
}

.aqua-color {
    color: #18cfab;
}

.uppercase {
    text-transform: uppercase;
}

.wrapper {
    max-width: 1160px;
    margin: auto;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-li {
    text-align: center;
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 25px;
    background: #f8fcfe;
    display: inline-block;
    border: 1px solid #ebebeb;
}

.home-page {
    height: 100vh;
	background: url("../img/bg/section-1.jpg") no-repeat;
	background-size: cover;
    justify-content: flex-start;
    flex-direction: column;
}

.top-logo {
    background-image: url("../img/icons/polygon.png");
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    width: 59px;
    height: 68px;
}

.top-logo-text-block {
    width: 131px;
    height: 24px;
    justify-content: flex-start;
    padding-left: 15px;
}

.top-logo-text {
    font-weight: 100;
    letter-spacing: 1pt;
}

.top-logo-text-aqua {
    letter-spacing: 1pt;
    font-weight: bold;
}

.top-nav-menu {
	width: 644px;
	height: 9px;
}

.top-nav-menu-link {
    position: relative;
}

.top-nav-menu-link:hover {
    color: #18cfab;
}

.top-nav-menu-link:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    top:69px;
    border-bottom: 2px solid #18cfab;
}

.top-nav-menu  li {
	padding-left: 23px;
}

.greeting-box {
    width: 805px;
    height: 444px;
    margin: auto auto;
    flex-direction: column;
    color: #fff;
}

.motto {
    font-size: 55px;
    margin: 0;
    font-weight: bold;
}

.motto2 {
    font-size: 27px;
    opacity: 0.5;
}

.button-box button{
    border-top: 6px solid #fff;
}

.explore-btn  {
    background: #18cfab;
}

.purchase-btn {
    background: #00cbf6;
}

.four-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
}
.square-box {
    width: 480px;
    height: 370px;
    border: 1px solid #fff;
    flex-direction: column;
}

.square-box:nth-child(2n) {
    background: #18cfab;
    border-top: 4px solid #fff;
}
.square-box:nth-child(2n+1) {
    background: #fff;
    border-top: 4px solid #18cfab;
}

.services-block {
    margin-top: 100px;
    height: 235px;
    flex-direction: column;
    justify-content: space-between;
}

.services-block-menu {
    width: 100%;
    height: 73px;
    justify-content: space-between;
}

.services-block-menu-li {
    width: 192px;
    height: 73px;
}

.services-block-menu-li a {
    color: #4e4e4e;
    font-size: 14px;
}

.services-content {
    align-items: flex-start;
}

.services-content-img {
    margin-right: 25px;
    width: 194px;
    height: 139px;
}

.services-content-text {
    width: 927px;
    height: 136px;
    color: #4e4e4e;
    text-align: justify;
}

.purchase {
    display: block;
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/bg/section-2.jpg") center;
    height: 478px;
    margin: 50px auto;
}

.purchase-block {
    flex-direction: column;
    justify-content: center;
    height: 477px;
    color: #cfcfcf;
}
.purchase-motto {
    font-weight: bold;
    font-size: 2em;
}

.purchase-btn2 {
    background-color: #18cfab;
    border-top: 6px solid #fff;
}

.work {
    background-color: #f8fcfe;
    display: block;
}
.work-block {
    flex-direction: column;
}
.work-menu {
    width: 610px;
    height: 58px;
}

.work-menu li {
    padding: 15px;
    flex-grow: 1;
}

.work-menu-link {
    position: relative;
    font-size: 16px;
    color: #848484;
}

.work-menu-link:hover {
    color: #18cfab;
}

.work-menu-link:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    top:-19px;
    border-bottom: 2px solid #18cfab;
}

.gallery {
    width: 1140px ;
    margin-top: 50px;
}

.gallery-section1 {
    display: flex;
    flex-flow: row wrap;
    order: 4;
    width: 1140px;
    height: 621px;
}

.gallery-section2 {
    display: flex;
    flex-flow: row wrap;
    order: 4;
    width: 1140px;
    height: 621px;
}

.gallery-section2 {
    display: none;
}

.card {
    width: 284px;
    height: 204px;
}

.card-hover {
    overflow: hidden;
    display: none;
    background-color: #fff;
    transform: translate(0, -211px);
    width: 285px;
    height: 208px;
    flex-direction: column;

}

.card:hover .card-hover{
    display:block;
    display: flex;
}

.card-hover:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    top:-4px;
    border-bottom: 3px solid #18cfab;
}

.card-img-block {
    display: flex;
    flex-direction: row;
}

.card-img1 {
     border: 2px solid #18cfab;
     width: 40px;
     height: 41px;
     border-radius: 50%;
     background: url("../img/icons/chain.png") no-repeat center;
 }

.card-img2 {
    border: 2px solid #18cfab;
    margin-left: 10px;
    width: 40px;
    height: 41px;
    border-radius: 50%;
    background-image: url("../img/icons/search.png");
}

.card-text1 {
    font-weight: bold;
}

.card-text2 {
    color: #848484;
    text-transform: capitalize;
}

.card-text-block {
    flex-direction: column;
}

.load-more {
    background-color: #18cfab;
    margin: 30px 500px;
    border: none;
}

.news {
    display: block;
}


.news-block{
    flex-flow: row wrap;
    order: 4;
}

.news-card {
    width: 263px;
    height: 280px;
    background-color: #f8fcfe;
    margin: 10px;
    border: 1px solid #ebebeb;
}

.news-box1 {
    background: url("../img/news/news1.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box2 {
    background: url("../img/news/news2.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box3 {
    background: url("../img/news/news3.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box4 {
    background: url("../img/news/news4.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box5 {
    background: url("../img/news/news5.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box6 {
    background: url("../img/news/news6.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box7 {
    background: url("../img/news/news7.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-box8 {
    background: url("../img/news/news8.png") no-repeat center;
    height: 208px;
    position: relative;
}

.news-date   {
    text-align: center;
    position: absolute;
    font-weight: normal;
    left: 197px;
    background-color: #203e38;
    color: #fff;
    height: 68px;
    width: 66px;
}

.news-card-link {
    color: #717171;
    font-weight: bold;
    text-transform: capitalize;
}

.news-card-link:hover{
    color: #18cfab;
    background-color: #18cfab;
}

.news-card-link:hover .news-date{
    background-color: #18cfab;
}

.news-card-stats {
    color: #bcbebf;
    padding-left: 10px;
    font-weight: normal;
}

.news-card-user {
    padding-right: 10px;
    color: #bcbebf;
    border-right: 1px solid #bcbebf;
    font-weight: normal;
}

.news-card-title {
    padding-left: 10px;
}

.feedback {
    overflow: hidden;
    display: block;
    background:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../img/bg/section-3.jpg") center;
    height: 851px;
    margin: 50px auto;
    color: #59696e;
    position: relative;
}

.feedback-title {
    color: #fff;
}

.quotes {
    height: 30px;
    width: 45px;
    position: absolute;
    right: 46%;
    top:178px
}

.feedback-article {
    margin-top: 100px;
    position: absolute;
    top: -50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedback-motto {
    height: 46px;
    width: 1097px;
    text-align: center;
    margin-top: 50px;
}

.slick {
    position: absolute;
    top: 400px;
    left: 500px;
    width: 500px;
    height: 300px;
    margin: 20px auto;
}
.slider-nav .slick-item {
    width: 60px;
    height: 60px;
    margin-right: 80px;
    overflow: hidden;
}

.slick-item img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 -2px;
    border: 3px solid #18cfab;
}
.focused-item img {
    border-radius: 50%;
    margin: 40px auto;
    width: 160px;
    height: 145px;
    border: 3px solid #18cfab;
    box-shadow: 0 0 20px #1be3b7;
}

.gallery-best {
    display: block;
}

.gallery-grid {
    display: flex;
    height: 921px;
    width: 1160px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 40px;
}

footer {
    display: block;
    height: 109px;
    background-color: #22353f;
    margin-bottom: 15px;
    color: #767e82;
    font-size: 13px;
}

.footer-copy {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}