@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro.otf");
}

body {
    font-family: MyriadPro, sans-serif;
}

a {
    text-decoration: none;

}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.logo-text {
    height: 75px;
    padding: 0px;
    margin: 64px 0px 35px 0px;
    text-align: left;
 }

.logo-text p {
    font-size: 75px;
    text-align: left;
}

.logo-text span {
    color: #4bcaff;
}

.top-navbar {
    background-color: #35444f;
    height: 69px;
    text-align: center;         
}

.top-navbar a {
    color: #fff;
    vertical-align: middle;
    font-size: 24px;
}

.top-navbar-item {
    display: inline-block;
    padding: 26px 43px;
    box-sizing: border-box;
}

.top-navbar-item:hover {
    background-color: #222f3a;
    padding: 26px 43px;
    border-left: 1px  solid #818181;
    border-right: 1px  solid #818181;
    height: 69px;
}

aside {
    margin-top: 51px;
    margin-right: 53px;
    float: left;
}

.left-menu {
    width: 345px;
    height: 400px;
    border: 1px solid #485863;
    text-align: left;
    font-size: 18px;
    display: inline-block;
}

.left-menu-list {
    padding-left: 44px;
}

.left-menu-item {
    display: block;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.left-menu-item a {
    vertical-align: middle;
    color: #006464;  
}

.left-menu-item:hover {
    padding-left:28px;
    background-color: #dbdbdb;
}
.left-menu-item a:hover {
    color:#000;
}

.main-image {
    margin-top: 51px;
    height: 528px;
    width: 878px;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
}

.main-image img {
    margin: 94px 0px;
}

.content-text {
    width: 808px;
    float: right;
    padding: 55px 35px 74px;
}
.content-text p {
    padding-bottom: 40px;
}

footer {
    background-color: #b4b7ba;
    height: 69px;
    font-size: 20px;
}

.footer-menu-list {
    float: left;
}

.footer-menu-list a {
    color: #000;
}

.footer-menu-item {
    display: inline-block;
    padding: 26px 23px;
    box-sizing: border-box;
}

.footer-menu-item a:hover {
       color: #3181a6;
       text-decoration-line: underline;
 }

 .copyright {
    float: right;
    margin: 26px 35px 23px;
 }
